# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
.idea/

# Swift Package Manager
.build/
Package.resolved
*.xcodeproj

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build products
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM
.swiftpm/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# CocoaPods
Pods/
*.xcconfig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
